[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/nanoflann"]
	path = ext/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "ext/benchmark"]
	path = ext/benchmark
	url = https://github.com/google/benchmark
