breathe
cmake
ipykernel
lcov_cobertura
nbsphinx
nbsphinx-link
nbval
pandas
pandoc
pre-commit
pytest
pytest-cov
ruptures @ git+https://github.com/deepcharles/ruptures.git@master
sphinx
sphinx_mdinclude
sphinx_rtd_theme
tqdm
