breathe
cmake
git+https://github.com/marcomusy/vedo.git
ipykernel
lcov_cobertura
m2r2
matplotlib
nbsphinx
nbsphinx-link
nbval
pandas
pre-commit
pytest
pytest-cov
ruptures
scikit-learn
sphinx
sphinx_rtd_theme
