on:
  workflow_dispatch:

jobs:
  cache-test-data:
    runs-on: ubuntu-latest
    env:
      PY4DGEO_TEST_DATA_DIR: ${{ github.workspace }}/.py4dgeo-test-data

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python development requirements
        run: |
          python -m pip install -r requirements-dev.txt
          python -m pip install scikit-build-core pybind11

      - name: Install Python package
        run: |
          python -m pip install -v .

      - uses: actions/cache@v3
        with:
          path: .py4dgeo-test-data
          key: py4dgeo-test-data-v0
          enableCrossOsArchive: true

      - name: Download test data
        run: copy_py4dgeo_test_data $PY4DGEO_TEST_DATA_DIR
